{
    debug
    order ja3 before respond
    ja3 {
        sort_extensions
    }
    servers {
        protocols h1 h2
        listener_wrappers {
            http_redirect
            ja3
            tls
        }
    }
}

localhost {
    ja3
    tls internal
    respond "Your JA3: {header.ja3}"
}
